body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 15px;
  align-items: center;
  background-color: #fcfefe;
}
h1 {
  color:#f76b8a;
  background-color: none;
}
.form {
  background-color: #eaf6f6;
  padding: 50px;
  border-radius: 20px;
  color: #205c5c;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 50px;

}
span {
  color:#f76b8a;
  font-weight: 900;


}
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: normal;
  border:none;
}
input {
  border:none;
}
input:hover {
  border:none;
  background-color: #faf7f8fe;
}
#submit {
  width: 100%;
  align-self: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 20px;
  background-color: #66bfbf;
  color: #fcfefe;
  border: none;
  transition: 0.3s ease;
}
#submit:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 50px;
  color:#f76b8a;
  background-color: #fcfefe;
  font-weight: 600;

}
.form__input-container input {
  width: 100%;
}
.form__submit-status{
  text-align: center;
  color:#f76b8a;

}